<link rel="stylesheet" href="css/bootstrap.min.css">
<p style="font-size:24px;text-align:center;color:red;">ACTION DENIED</p>
<button class = "btn btn-danger" onclick={{action 'back'}}>click here</button>